{% if not args %}
    {% set args = {
        headingTitle : 'Too much copy supplied ',
        headingSubTitle : 'Needs to be 2 lines max',
        posterInfoTitle : 'Skin glow',
        posterInfoCost : '£12.00',
        posterInfoDescr : 'Natural blend of vitamins and minerals, specifically designed to improve the innate firmness and health of your skin.',
    } %}
{% endif %}
<section class="s-offers">
    <div class="s-offers__wrap">
        <div class="s-offers__heading">
            <h2 class="s-offers__heading-title">{{ args.headingTitle }}</h2>
            <p class="s-offers__heading-sub-title">{{ args.headingSubTitle }}</p>
        </div>
        <div class="s-offers__poster container">
            <div class="s-offers__poster-product">
                <img src="images/cream.png" alt="cream" class="s-offers__poster-product-img">
            </div>
            <div class="s-offers__poster-info">
                <h3 class="s-offers__poster-info-title">{{ args.posterInfoTitle }}</h3>
                <p class="s-offers__poster-info-cost">{{ args.posterInfoCost }}</p>
                <p class="s-offers__poster-info-description">{{ args.posterInfoDescr }}</p>
                {% include "../components/button.twig" with {
                    content : 'View detalis',
                    link : '#',
                } %}
            </div>
        </div>
    </div>
</section>