{% if not args %}
    {% set args = {
        headingTitle : 'Too much copy supplied ',
        headingSubTitle : 'Needs to be 2 lines max',
        posterInfoTitle : 'Skin glow',
        posterInfoCost : '£12.00',
        posterInfoDescr : 'Natural blend of vitamins and minerals, specifically designed to improve the innate firmness and health of your skin.',

    } %}
{% endif %}
<section class="offers">
    <div class="offers-wrap">
        <div class="offers-heading">
            <h2 class="offers-heading__title">{{ args.headingTitle }}</h2>
            <p class="offers-heading__sub-title">{{ args.headingSubTitle }}</p>
        </div>
        <div class="offers-poster">
            <div class="offers-poster__product">
                <img src="images/cream.png" alt="cream" class="offers-poster__product-img">
            </div>
            <div class="offers-poster__info">
                <h3 class="offers-poster__info-title">{{ args.posterInfoTitle }}</h3>
                <p class="offers-poster__info-cost">{{ args.posterInfoCost }}</p>
                <p class="offers-poster__info-description">{{ args.posterInfoDescr }}</p>
            </div>
        </div>
    </div>
</section>