{% if not args %}
    {% set args = {
        questionsTitle : 'FAQs',
        questionsTetx : 'The product:',
        accordion : [
            {
                activeClass : 'is-active',
                hidden : '',
                title : 'Is Vitami allergen free?',
                isExpanded : 'true',
                btnControlsId : 'section1',
                contentControlsId : 'section1',
                contentLabelledby : 'accordion1id',
                btnLabelledby : 'accordion1id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.',
            },
            {
                title : 'Is Vitami Vegan-Friendly? ',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section2',
                contentControlsId : 'section2',
                contentLabelledby : 'accordion2id',
                btnLabelledby : 'accordion2id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.',
            },
            {
                title : 'Is Vitami Gluten free? ',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section3',
                contentControlsId : 'section3',
                contentLabelledby : 'accordion3id',
                btnLabelledby : 'accordion3id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.',
            },
            {
                title : 'Is Vitami Sugar free?',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section4',
                contentControlsId : 'section4',
                contentLabelledby : 'accordion4id',
                btnLabelledby : 'accordion4id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                per',
            },
            {
                title : 'Is Vitami Organic?',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section5',
                contentControlsId : 'section5',
                contentLabelledby : 'accordion5id',
                btnLabelledby : 'accordion5id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferen',
            },
            {
                title : 'What is our production process?',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section6',
                contentControlsId : 'section6',
                contentLabelledby : 'accordion6id',
                btnLabelledby : 'accordion6id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                p.',
            },
            {
                title : 'What is the Vitami dosage?  When should I drink it? ',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section7',
                contentControlsId : 'section7',
                contentLabelledby : 'accordion7id',
                btnLabelledby : 'accordion7id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                elige',
            },
            {
                title : 'Where can I buy it? ',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section8',
                contentControlsId : 'section8',
                contentLabelledby : 'accordion8id',
                btnLabelledby : 'accordion8id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                per',
            },
            {
                title : 'Is Vitami Vegan-Friendly? ',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section2',
                contentControlsId : 'section2',
                contentLabelledby : 'accordion2id',
                btnLabelledby : 'accordion2id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.',
            },
            {
                title : 'Is Vitami Gluten free? ',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section3',
                contentControlsId : 'section3',
                contentLabelledby : 'accordion3id',
                btnLabelledby : 'accordion3id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.',
            },
            {
                title : 'Is Vitami Sugar free?',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section4',
                contentControlsId : 'section4',
                contentLabelledby : 'accordion4id',
                btnLabelledby : 'accordion4id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                per',
            },
            {
                title : 'Is Vitami Organic?',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section5',
                contentControlsId : 'section5',
                contentLabelledby : 'accordion5id',
                btnLabelledby : 'accordion5id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferen',
            },
            {
                title : 'What is our production process?',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section6',
                contentControlsId : 'section6',
                contentLabelledby : 'accordion6id',
                btnLabelledby : 'accordion6id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                p.',
            },
            {
                title : 'What is the Vitami dosage?  When should I drink it? ',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section7',
                contentControlsId : 'section7',
                contentLabelledby : 'accordion7id',
                btnLabelledby : 'accordion7id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                elige',
            },
            {
                title : 'Where can I buy it? ',
                hidden : 'hidden',
                isExpanded : 'false',
                btnControlsId : 'section8',
                contentControlsId : 'section8',
                contentLabelledby : 'accordion8id',
                btnLabelledby : 'accordion8id',
                content : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                perferendis quam repellat tempore vel. Atque, nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam doloremque
                eligendi est excepturi fugiat laudantium maiores molestias, nam necessitatibus nisi omnis optio
                per',
            },
        ]
    } %}
{% endif %}

<section class="questions">
    <div class="questions__container">
        <h2 class="questions__title">{{ args.questionsTitle }}</h2>
        <h3 class="questions__title-sub">{{ args.questionsTetx }}</h3>
        <ul class="questions__accordion-wrap">
            {% for item in args.accordion %}
                <li class="questions__accordion-section js-accord">
                    <div class="questions__accordion-header">
                        <h3 class="questions__accordion-title">
                            <button class="questions__accordion-btn js-accord-btn" id="{{ item.btnLabelledby }}"
                                    aria-expanded="{{ item.isExpanded }}" aria-controls="{{ item.btnControlsId }}">
                                {{ item.title }}
                                <div class="questions__accordion-icon">
                                    <svg width="22" height="10" viewBox="0 0 22 10" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 2L11 8L20 2" stroke="url(#paint0_linear)" stroke-width="3.5"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                        <defs>
                                            <linearGradient id="paint0_linear" x1="-4.41196" y1="5.41289" x2="-0.592001"
                                                            y2="15.2704" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#D369D6"/>
                                                <stop offset="1" stop-color="#EB0A3C"/>
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                </div>
                            </button>
                        </h3>
                    </div>
                    <div class="questions__accordion-body js-accord-body" id="{{ item.contentControlsId }}"
                         role="region"
                         aria-labelledby="{{ item.contentLabelledby }}" {{ item.hidden }}>
                        <div class="questions__accordion-content el-wysiwyg">
                            <p>{{ item.content }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>