{% if not args %}
    {% set args = {
        title : 'People have sald',
        rev :
        [
            {
                name : 'Lishay Matvey',
                assessment :
                [
                    {
                        star: 'star',
                    },
                    {
                        star: 'star',
                    },
                    {
                        star: 'star',
                    },
                    {
                        star: 'star',
                    },
                    {
                        star: 'star',
                    },
                ],
                text : '“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae lacus magna. “',
            },
        ],
        revBtn :
        [
            {
                state : 'is-active',
                btn : 'slider-bitton',
            },
            {
                btn : 'slider-bitton',
            },
            {
                btn : 'slider-bitton',
            },
        ],

    } %}
{% endif %}
<section class="s-reviews container">
    <h2 class="s-reviews__title">{{ args.title }}</h2>
    {% for item in args.rev %}
        <div class="s-reviews__content">
            <p class="s-reviews__content-name">{{ item.name }}</p>
            <div class="s-reviews__content-assessment">
                {% for star in item.assessment %}
                    <span class="s-reviews__content-star">
                        <svg class="el-icon">
                            <defs>
                                <linearGradient id="grad" x1="0%" y1="0%" x2="100%" y2="0%">
                                    <stop offset="0%" stop-color="#F0B200" stop-opacity="1"/>
                                    <stop offset="100%" stop-color="#EB6204" stop-opacity="1"/>
                                </linearGradient>
                            </defs>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" fill="url(#grad)"
                                 xlink:href="#{{ star.star }}"></use>
                        </svg>
                    </span>
                {% endfor %}
            </div>
            <p class="s-reviews__content-text">{{ item.text }}</p>
        </div>
    {% endfor %}
    <div class="s-reviews__btn-wrap">
        {% for item in args.revBtn %}
            <button class="s-reviews__btn {{ item.state }}">
                <span class="visually-hidden">{{ item.btn }}</span>
            </button>
        {% endfor %}
    </div>
</section>