{% if not args %}
    {% set args = {
        nav : [
            {
                title : 'Skin glow',
                titleLink : '#',
            },
            {
                title : 'FAQs',
                titleLink : '#',
            },
            {
                title : 'Blog',
                titleLink : '#',
            },
            {
                title : 'Contact',
                titleLink : '#',
            },
        ],
        headerLogoAlt : 'Vitami',
        logoLink : '/',
        basketTitle : 'Basket',
        headerLogo : 'images/svg_sprite_inline/vitami.svg',
    } %}
{% endif %}
<header class="header">
    <button class="header__btn">
        <svg class="el-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#burger"></use>
        </svg>
        <span class="visually-hidden">Open menu</span>
    </button>
    <nav class="header__nav">
        <ul class="header__nav-list">
            {% for item in args.nav %}
                <li class="header__nav-item">
                    <a href="{{ item.titleLink }}" class="header__nav-link">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <a href="{{ args.logoLink }}" class="header__logo">
        <img class="Ñ-header__logo-img" src="{{ args.headerLogo }}" alt="{{ args.headerLogoAlt }}">
    </a>
    <div class="header__basket-wrap">
        <button class="header__basket">
            <p class="header__basket-title">{{ args.basketTitle }}</p>
            <svg class="el-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#basket"></use>
            </svg>
        </button>
    </div>
</header>
