{% if not args %}
    {% set args = {
        nav : [
            {
                title : 'Skin glow',
                titleLink : '#',
            },
            {
                title : 'FAQs',
                titleLink : '#',
            },
            {
                title : 'Blog',
                titleLink : '#',
            },
            {
                title : 'Contact',
                titleLink : '#',
            },
        ],
        headerLogoAlt : 'Vitami',
        logoLink : '/',
        basketTitle : 'Basket',
        headerLogo : 'logo',
    } %}
{% endif %}
<header class="header">
    <nav class="header__menu js-menu">
        <ul class="header__menu-list">
            {% for item in args.nav %}
                <li class="header__menu-item">
                    <a href="{{ item.titleLink }}"
                       class="header__menu-link">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
        {% include 'components/social.twig' with
            {
                communication :
                [
                    {
                        icon : 'facebook',
                        iconLink : '#',

                        descr : 'facebook',
                    },
                    {
                        icon : 'instagram',
                        iconLink : '#',
                        descr : 'instagram',
                    },
                    {
                        icon : 'twitter',
                        iconLink : '#',
                        descr : 'twitter',
                    },

                ]
            } %}
    </nav>
    <div class="header__wrap js-header">
        <div class="header__btn-wrap">
            <button class="header__btn js-toggle">
                <span class="header__btn-lines"></span>
                <span class="visually-hidden">Open menu</span>
            </button>
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                {% for item in args.nav %}
                    <li class="header__nav-item">
                        <a href="{{ item.titleLink }}"
                           class="header__nav-link">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <a href="{{ args.logoLink }}" class="header__logo">
            <svg class="el-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                     xlink:href="#{{ args.headerLogo }}"></use>
            </svg>
        </a>
        <div class="header__basket-wrap">
            <button class="header__basket">
                <p class="header__basket-title">{{ args.basketTitle }}</p>
                <svg class="el-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#basket"></use>
                </svg>
            </button>
        </div>
    </div>
</header>
